.example-card {
    max-width: 400px;
}

.ng-star-inserted {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

img{
    display: block;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto; 
}