table {
  width: 100%;
}

tr.rowsData:hover {
  background-color: rgba(226, 234, 253, 0.767);
}
th.mat-sort-header-sorted {
  color: black;
}

button {
  max-width: 90px;
  margin-left: 8px;
}
.container {
  margin-top: 8px;
}

mat-form-field {
  min-width: 250px;
}