<mat-card>
    <mat-card-header>
        <mat-card-title>{{ producto.name | uppercase }}</mat-card-title>
        <mat-card-subtitle>{{ producto.price | currency }}</mat-card-subtitle>
    </mat-card-header>
    <div class="crop-image">
        <img class="w3-image" [src]="producto.img" alt="producto">
    </div>
    <mat-card-content>
        <p>{{ producto.description | slice:0:75}} [...] </p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-raised-button [routerLink]="['/productos',producto.name]">Ver detalle</a>
        <!-- <a mat-raised-button routerLink="/productos/{{producto.name}}">Ver detalle</a> -->
        <button (click)="addCart()" mat-raised-button color="primary">Agregar al carrito</button>
    </mat-card-actions>
</mat-card>
