<app-header></app-header>
<div class="form-center">
    <div class="row center-xs w3-margin">
        <div class="col-6">
            <mat-card class="forgot-card">
                <mat-card-content>
                    <form [formGroup]="form" autocomplete="off">
                        <div class="row">
                            <div class="col-xs">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Enter your email</mat-label>
                                    <input formControlName="email" matInput type="email" />
                                    <mat-error *ngIf="form.controls['email'].errors">Introduce un email v&aacute;lido
                                    </mat-error>
                                    <span matSuffix class="material-icons">email</span>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="container-forgot100-form-btn">
                            <button (click)="forgotPwd()" class="forgot100-form-btn" mat-raised-button
                                color="primary">Continuar</button>
                            <button mat-button routerLink="/auth/login" type="button">Volver</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>