.form-center{
  /* Center vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  padding: 15px;
}

.forgot-card {
  max-width: 400px;
}

mat-form-field {
  width: 100%;
  margin: 4px 0;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

/*------------------------------------------------------------------
  [ Button ]*/
  .container-forgot100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }

.forgot100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  min-width: 160px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}