<app-banner></app-banner>
<!-- The App Section -->
<div class="container">
    <div class="row">
        <div class="column-66">
            <h1 class="xlarge-font"><b>The App</b></h1>
            <h1 class="large-font" style="color:#4c5baf;"><b>Por qué usarla?</b></h1>
            <p><span style="font-size:36px">Más rápida que nunca.</span>Fácil de instalar, no necesitas ir a tu tienda online de aplicaciones,
            solamente pulsando al botón de abajo, podrás disfrutar de nuestra aplicación en menos de un minuto. Además no te preocupes 
        por actualizaciones ya nos encargamos nosotros, disfruta de tu App en cualquier momento.</p>
            <button class="button w3-card-4" (click)="installByUser()">Download Application</button>
        </div>
        <div class="column-33">
            <img class="w3-card-4 w3-animate-right" src="assets/icons/icon-384x384.png" width="335" height="471" alt="img logo">
        </div>
    </div>
</div>